# Configuration
/.env.local

# Composer
/vendor/

# Contao Manager
/contao-manager/

# Generated folders (ne pas versionner)
/var/cache/
/var/log/
/var/tmp/
/node_modules/
/public/assets/

# Contao specific folders
/assets/          # générés, pas versionnés
/files/           # versionnés car tu as ajouté header.css et autres assets
/templates/       # versionnés pour tes templates
/system/*
!/system/config/
!/system/config/localconfig.php

# IDE / OS files
/.idea
.DS_Store

# Skip files
/system/modules/*/.skip