# Environnements locaux
.env.local
.env.*.local
.env.local.php

# Dépendances
/vendor/
node_modules/

# Cache / logs / backups
/var/
*.log

# Fichiers générés / assets
/public/assets/
/public/bundles/
/assets/

# IDE / OS
/.idea/
.vscode/
.DS_Store
Thumbs.db