@import "variables";

.banner-box {
    background: black;
    color: white;
    width: 90%;
    margin: -130px auto 0;
    max-width: $max-width;
    padding: 75px 0 35px 0;
    z-index: 4;
    position: relative;

}

.mod_article.banner-box .content-text {
    width: 100%;
    margin: 0 auto;
    h2 {
        margin-bottom: 35px;
        line-height: 1.2;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        &:before {
            bottom: -22px;
            left: 50%;
            transform: translateX(-50%);
            width: 420px;
        }
        &:after {
            left: 50%;
            transform: translateX(-50%);
            width: 1000px;

        }
    }
}

.banner-box .rte {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}




.mod_article.video-teaser, .mod_article.image-teaser-block {
    position: relative;
    height: 75vh;
    .content-player, .content-image {
        width: 100%;
        height: 100%;
        video , img {
            width: 100%;
            height: 100%;
        }
    }
    .content-text {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        margin: 0;
        color: #fff;
        .rte {
            text-align: center;
            h2 {
                &:after {
                    left: 0%;
                    transform: translateY(0%);
                }
                &:before {
                    width: 500px;
                    transform: translateX(-50%);
                    left: 50%;
                    bottom: -22px;
                }
            }
        }
    }
}

.video-teaser:before, .image-teaser-block:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
}

.teaser-content h2 {
    &:before, &:after {
        background: black;
    }
}

.image-teaser-block {
    figure{
        height: 100%;
        img {
            object-fit: cover;
        }
    }
}

.btn.content-hyperlink {
    text-align: center;
    padding: 20px 0;
    a {
        padding: 15px 50px 15px 75px;
        background: none;
        color: white;
        border-radius: 0;
        font: normal italic 700 40px/50px'Exo 2';
        position: relative;
        &:before {
            font-weight: normal;
            content: "";
            position: absolute;
            background: url("/files/assets/layout/live-button.svg") no-repeat 0/contain;
            height: 58px;
            width: 40px;
            left: 20px;
            top: 13px;
            transition: all 250ms ease;
        }
        &:hover {
            background: $pink;
            border-color: $pink;
            &:before {
                filter: brightness(0) invert(1);
            }
        }
    }
}

.button-kst.content-text p  a {
    border-radius: 0;
    background: none;
    text-transform: none;
    color: white;
    padding: 15px 30px;
    &:hover {
        background: white;
        color: black;
    }
}
