@import "variables";

.banner-box {
    background: #222;
    color: white;
    width: 90%;
    margin: -130px auto 0;
    max-width: $max-width;
    padding: 75px 0 35px 0;
    z-index: 4;
    position: relative;

}

.mod_article.banner-box .content-text {
    width: 100%;
    margin: 0 auto;
    h2 {
        margin-bottom: 35px;
        line-height: 1.2;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        &:before {
            bottom: -22px;
            left: 50%;
            transform: translateX(-50%);
            width: 420px;
        }
        &:after {
            left: 50%;
            transform: translateX(-50%);
            width: 1000px;

        }
    }
}

.banner-box .rte {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}




.mod_article.video-teaser, .mod_article.image-teaser-block {
    position: relative;
    .content-player, .content-image {
        width: 100%;
        video , img {
            width: 100%;
        }
    }
    .content-text {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        margin: 0;
        color: #fff;
        .rte {
            text-align: center;
            h2 {
                &:after {
                    left: 0%;
                    transform: translateY(0%);
                }
                &:before {
                    width: 500px;
                    transform: translateX(-50%);
                    left: 50%;
                    bottom: -22px;
                }
            }
        }
    }
}

.video-teaser:before, .image-teaser-block:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.65);
}

.teaser-content h2 {
    &:before, &:after {
        background: black;
    }
}

/*
.video-teaser:after {
    content: "";
    position: absolute;
    top: -5vw;
    left: 0;
    width: 100%;
    height: 11vw;
    background: url("/files/assets/layout/Barcode-pink-2.svg") no-repeat left;
    z-index: 100;
    background-size: 80%;
}*/
