@import "variables";

.banner-box {
    background: #222;
    color: white;
    width: 90%;
    margin: -130px auto 0;
    max-width: $max-width;
    padding: 75px 0 35px 0;
    z-index: 4;
    position: relative;

}

.banner-box .content-text {
    width: 100%;
}

.banner-box .rte {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.banner-box {
    h2 {
        margin-bottom: 35px;
        line-height: 1.2;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
    }

}

.banner-box h2::after {
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    background: white;
}


.banner-box h2::before {
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    width: 420px;
}

.video-teaser {
    position: relative;
    .content-player {
        width: 100%;
        video {
            width: 100%;
        }
    }
    .content-text {
        position: absolute;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 90%;
        max-width: 1180px;
        top: 50%;
        margin: 0;
        color: #fff;
        .rte {
            text-align: center;
            h2 {
                &:after {
                    left: 0%;
                    transform: translateY(0%);
                }
                &:before {
                    width: 500px;
                    transform: translateX(-50%);
                    left: 50%;
                    bottom: -22px;
                }
            }
        }
    }
}