@import "variables";

.event-group {
  .content-element-group {
    width: 90%;
    margin: 120px auto;
    max-width: $max-width;
    h2 {
      &:before {
        bottom: -22px;
        width: 600px;
        background: black;
      }
      &::after {
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
        background: black;
      }
    }
  }
}

.mod_eventlist {
  display: flex;
  gap: 20px;
  margin: 85px 0 50px;
  background: white;
}

.event-card {
  border: 2px solid $blue;
  background: #fff;
  transition: all 250ms ease;
  &.hsv, &.ingWe{
    border-color: $blue;
    &:hover {
      background: $blue;
      color: white;
    }
  }
  &:has(.kst) {
    border-color: $pink;
  }
}

.event-card-wrapper:hover .event-card {
  background: $blue;
  color: white;
}

.event-card-wrapper:hover .event-card:has(.kst) {
  background: $pink;
}

.event-card-wrapper:hover .event-card.hsv, .event-card-wrapper:hover .event-card.ingWe{
  background: $blue;
}

.event-image {
  position: relative;
  padding: 18px 10px;
  img {
    width: 100%;
    display: block;
  }
}

.event-badge {
  position: absolute;
  top: -3px;
  right: 43px;
  width: 45px;
  height: 45px;
  background-size: 45px;
  background-repeat: no-repeat;
}

.event-card .event-badge:has(.hsv){
  background-image: url('/files/assets/layout/logo-hsv-blau.svg');
}

.event-card .event-badge:has(.ingwe) {
  background-image: url('/files/assets/layout/logo-ing-we-blau.svg');
}

.event-card .event-badge:has(.kst) {
  background-image: url('/files/assets/layout/logo-kst-pink.svg') ;
  top: -6px;
}

.event-content {
  padding: 10px;
  margin-bottom: 10px;
  .ce_text {
    min-height: 200px;
  }
}

.event-title {
  font: normal italic 900 30px/40px "Exo 2";
  margin: 0;
  min-height: 110px;
  a {
    color: black;
    transition: color ;
  }
}

.event-card:hover .event-title a {
  color: white;
}

.event-card-wrapper:hover .event-badge, .event-card-wrapper:hover .meta-item:before {
  filter: brightness(0) invert(1);
}

.event-teaser {
  margin-bottom: 15px;
}

.event-meta {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}

.meta-item {
  position: relative;
  padding-left: 22px;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
  }
}

.meta-item.date::before {
  background: url('/files/assets/layout/date.svg') no-repeat ;
  filter: invert(1);
}

.meta-item.location::before {
  background: url('/files/assets/layout/map.svg') no-repeat ;
}

.meta-item.time::before {
  background: url('/files/assets/layout/time.svg') no-repeat ;
}

.event-title {
  &:before, &:after {
    display: none;
  }
}

.event-group .content-hyperlink a, .mod_eventreader .back a {
  background: black;
  color: white;
  &:hover {
    color: black;
    border: 2px solid black;
    background: transparent;
  }
}

.event.layout_full {
  margin-bottom: 0;
  h2 {
    &:before, &:after {
      background: black;
    }
  }
  .ce_text {
    margin-bottom: 50px;
  }
  .meta-item:before {
    top: 7px;
  }
}

.mod_eventreader {
  padding-bottom: 100px;
}

.events-all {
  width: 90%;
  margin: 0 auto;
  max-width: $max-width;
  h2 {
    &:before, &:after {
      background: black;
    }
    &:after {
      left: 50%;
      transform: translateX(-50%);
    }
    &:before {
      width: 725px;
      bottom: -22px;
    }
  }
  .mod_eventlist {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    .event-card-wrapper {
      width:32%;
    }
  }
}


.category-filter {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 45px;
  li {
    background: transparent;
    padding: 10px;
    border: 2px solid $blue;
    cursor: pointer;
    font: normal normal 400 20px/30px 'Exo 2';
    transition: all 250ms ease;
    text-transform: uppercase;
    a {
      color: white;
      &.reset {
        font-size: 80px;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        top: -7px;
        position: relative;
      }
    }
    &:hover, &.active {
      background: $blue;
      color: white;
    }
  }
}

.category-filter li:has(.kst) {
  border-color: $pink;
  &:hover, &.active {
    background: $pink;
  }
}

.category-filter li:has(.reset) {
  border-color: #fff;
  &:hover, &.active {
   border-color: $blue;
  }
}

.event-group .category-filter li a {
  color: black;
}

.event-group .category-filter li:hover a {
  color: white;
}

@media screen and (max-width: $mobile-width) {
  .events-all .mod_eventlist {
    flex-wrap: wrap;
    justify-content: center;
  }
  .event-card-wrapper {
    width: 45%;
  }
  .events-all .mod_eventlist .event-card-wrapper {
    width: 45%;
  }
  .event-badge {
    right: 0;
    width: 60px;
    height: 60px;
    background-size: 60px;
  }
  .event-group, .event-all {
    .mod_eventlist {
      flex-wrap: wrap;
      justify-content: center;
      .event-card-wrapper {
        width: 45%;
      }
    }
  }
}

@media screen and (max-width: 670px) {
  .events-all .mod_eventlist .event-card-wrapper, .event-group .mod_eventlist .event-card-wrapper {
    width: 100%;
  }
  .event-title, .event-content .ce_text {
    min-height: 0;
  }
}

@media screen and (max-width: 500px) {

  .event-group .content-element-group h2::before {
    width: 200px;
  }
  .events-all .mod_eventlist .event-card {
    width: 98%;
  }
  .category-filter {
    gap: 10px;
  }
}