@import "variables";

.registration {
  background: #000;
  position: relative;
  color: #fff;
  overflow: visible;
  z-index: 101;
  padding: 100px 0;
  &:before {
    content: "";
    position: absolute;
    background: url("/files/assets/layout/Barcode-pink-1.svg") no-repeat right;
    top: -8vw;
    left: 0;
    width: 100%;
    height: 27vw;
    z-index: 100;
    background-size: 35%;
  }
  .content-text {
    p {
      padding-top: 15px;
      a {
        border-radius: 0;
        background: none;
        border: 2px  solid currentColor;
        color: white;
        padding: 10px 15px;
        &:hover {
          background: $pink;
          border-color: $pink;
        }
      }
    }
  }
}

@media screen and (max-width: $mobile-width) {
  .mod_article.registration {
    .content-text {
      margin: 0 auto;
      p a {
        font-size: 16px;
      }
    }
    &:before {
      top: -14vw;
      background-size: 55%;
    }
  }
}