@import 'variables';

body {
    font-family: 'Exo 2', sans-serif;
}

a {
    text-decoration: none;
}

h1, h2 {
    font: normal italic 900 60px/70px 'Exo 2';
    text-transform: uppercase;
}

h3 {
    font: normal italic 900 50px/60px 'Exo 2';
}

p, li {
    font: normal normal 400 20px/30px 'Exo 2';
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.content-hyperlink a {
    background: white;
    color: black;
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid white;
    font: normal normal 900 24px/30px 'Exo 2';
    text-transform: uppercase;
    transition: all 250ms ease;
    &:hover {
        background: transparent;
        color: white;
        border: 2px solid white;
    }
}