@import "variables";

.news, .mod_newsreader.block  {
  background: black;
  color: white;
  padding-bottom: 100px;
}

.mod_newsreader .layout_full {
  margin-bottom: 0;
  ul li {
    position: relative;
    margin-left: 18px;
    &:before {
      font-weight: normal;
      content: "»";
      position: absolute;
      margin-left: -19px;
      font-size: 25px;
      margin-top: -3px;
    }
  }
}

.news-card:hover .news-image img {
  filter: brightness(0) invert(1);
}

.news-title {
  &:before, &:after {
    display: none;
  }
}



.news .content-element-group, .layout_full {
  width: 90%;
  margin: 120px auto;
  max-width: $max-width;
}

.news .content-element-group .rte h2 , .layout_full h2 {
  &:before {
    bottom: -22px;
    width: 250px;
  }
  &::after {
    left: 50%;
    transform: translateX(-50%);
    background: white;
  }
}

.mod_newslist {
  margin: 85px auto 50px;
}

.news-card {
  border: 2px solid $blue;
  max-width: 800px;
  padding: 20px;
  margin-bottom: 25px;
  position: relative;
  transition: all 250ms ease;
  &:hover {
    background: $blue;
  }
  &:last-child {
    border-color: $pink;
    &:hover {
      background: $pink;
    }
  }
}

.news-inner {
  position: relative;
  .news-meta {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .news-image {
    position: absolute;
    top: -30px;
    right: 30px;
    width: 80px;
  }
  h2 {
    font: normal italic 900 30px/40px 'Exo 2';
    margin: 0;
    a {
      color: white;
    }
  }
}



