@import "variables";

.mod_article.partner {
  background: black;
  color: white;
  position: relative;
  z-index: 10;
  margin-top: -5px;
  overflow: visible;
  .content-text {
    padding-top: 100px;
    margin: 0 auto;
    .rte {
      margin: 0 auto;
      max-width: $max-width;
      h2 {
        &:before {
          bottom: -22px;
          width: 250px;
        }
        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: -5vw;
    left: 0;
    width: 100%;
    height: 11vw;
    background: url("/files/assets/layout/Barcode-pink-2.svg") no-repeat left;
    z-index: 100;
    background-size: 75%;
  }
  .content-hyperlink {
    text-align: center;
  }
}

.partner > .content-element-group {
  position: relative;
  padding: 60px 0 180px;
}

.partner > .content-element-group > .content-element-group {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255,255,255,.15);
}

.partner > .content-element-group > .content-element-group > .content-image:first-child {
  background: #fff;
  position: absolute;
  left: 0;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  img {
    filter: invert(1);
  }
}

.partner > .content-element-group > .content-element-group >.content-element-group >  .content-text {
  margin: 0;
  padding-top: 0;
  .rte p {
    position: relative;
    margin: 0;
    a {
      background: transparent;
      border: 0;
      margin: 0;
      padding: 0;
      border-radius: 0;
      display: flex;
      img {
        width: 50px;
      }
      &:first-child {
        transition: opacity 250ms;
      }
      &:last-child {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: opacity 250ms;
        z-index: 200;
      }
      &:hover {
        &:first-child {
          opacity: 0;
        }
        &:last-child {
          opacity: 1;
          img {
            opacity: 1;
          }
        }
      }
    }
  }
}

.partner > .content-element-group > .content-element-group > .content-image:first-child img {
  width: auto;
  display: block;
}

.partner > .content-element-group > .content-element-group > .content-element-group {
  display: flex;
  align-items: center;
  padding: 40px 0;
  width: 90%;
  justify-content: space-between;
  margin: 0 0 0 auto;
  .content-image {
    width: 18%;
    display: flex;
    justify-content: end;
    &:last-child {
      width: 10%;
      justify-content: end;
      img {
        width: 50px;
      }
    }
  }
}

.partner a:hover img {
  opacity: 0.75;
}


#hsv, #ingwe, #kst {
  background: linear-gradient(180deg, #000000 0%, #009BD9 100%);
  padding-bottom: 100px;
  .content-element-group {
    display: flex;
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    gap: 20px;
    padding-bottom: 60px;
  }
  &:before {
    background: url("/files/assets/layout/Barcode-blau-2.svg") no-repeat left;
    background-size: 75%;
  }
}

.partner-grid {
  //display: grid;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.partner-item-link:hover .partner-logos {
  opacity: .7;
}

.partner-item {
  color: $blue;
  text-align: center;
  background: black;
  padding: 15px;
  flex: 1 1 200px;
}


.partner-item h3 {
  font: normal italic 700 24px/30px"Exo 2";
  margin: 15px auto;
  text-transform: uppercase;
}

.partner-logos {
  img {
    height: auto;
    margin: 10px auto;
    display: block;
  }
}

#kst{
  background: linear-gradient(180deg, #000000 0%, #E5007D 100%);
  &:before {
    background: url("/files/assets/layout/Barcode-pink-2.svg") no-repeat left;
    background-size: 75%;
  }
  .partner-item {
    color: $pink;
  }
}


@media screen and (max-width: $mobile-width) {
  .partner > .content-element-group > .content-element-group {
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
    margin: 0 auto;
  }

  .partner > .content-element-group > .content-element-group > .content-image:first-child {
    position: relative;
    left: auto;
    padding: 0;
    margin-bottom: 15px;
    width: 70%;
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  .partner > .content-element-group > .content-element-group > .content-element-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px 0 0 0;
    padding: 10px 0;
  }

  .partner > .content-element-group > .content-element-group > .content-element-group > .content-image {
    width: 40%;
    margin: 5px;
    justify-content: center !important;
  }


  .partner > .content-element-group > .content-element-group > .content-element-group > .content-text {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .partner > .content-element-group > .content-element-group > .content-element-group > .content-text .rte p {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    margin: 0;
  }

  .partner > .content-element-group > .content-element-group > .content-element-group > .content-text .rte p a:first-child {
    opacity: 1;
  }

  .partner > .content-element-group > .content-element-group > .content-element-group > .content-text .rte p a:last-child {
    position: relative;
    opacity: 1;
    order: 1;
    display: none;
  }

  .partner > .content-element-group > .content-element-group > .content-element-group > .content-text .rte p a img {
    width: 50px;
    height: auto;
  }

}

@media screen and (max-width: 760px) {
  #hsv .content-element-group, #ingwe .content-element-group, #kst .content-element-group {
    flex-wrap: wrap;
  }
  .partner-item {
    flex: 1 1 100%; /* chaque item prend toute la largeur */
    max-width: 100%;
  }
}


