@import "variables";

.partner {
  background: black;
  color: white;
  position: relative;
  z-index: 10;
  margin-top: -5px;
  overflow: visible;
  .content-text {
    padding-top: 100px;
    .rte {
      width: 90%;
      margin: 0 auto;
      max-width: $max-width;
      h2 {
        &:before {
          bottom: -22px;
          width: 250px;
        }
        &:after {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: -5vw;
    left: 0;
    width: 100%;
    height: 11vw;
    background: url("/files/assets/layout/Barcode-pink-2.svg") no-repeat left;
    z-index: 100;
    background-size: 80%;
  }
}

.partner > .content-element-group {
  position: relative;
  padding: 60px 0 180px;
}

.partner > .content-element-group > .content-element-group {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1180px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(255,255,255,.15);
}

.partner > .content-element-group > .content-element-group > .content-image:first-child {
  background: #fff;
  position: absolute;
  left: 0;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  img {
    filter: invert(1);
  }
}

.partner > .content-element-group > .content-element-group > .content-image:first-child img {
  width: auto;
  display: block;
}

.partner > .content-element-group > .content-element-group > .content-element-group {
  display: flex;
  align-items: center;
  padding: 40px 0;
  width: 90%;
  justify-content: space-between;
  margin: 0 0 0 auto;
  .content-image {
    width: 18%;
    display: flex;
    justify-content: end;
    &:last-child {
      width: 10%;
      justify-content: end;
      img {
        width: 50px;
      }
    }
  }
}

.partner a:hover img {
  opacity: 0.75;
}
