@import "variables";

.gallery {
  z-index: 105;
  position: relative;
}

.slider-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 15px;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
  padding-bottom: 40px;

}

.slide {
  flex: 0 0 calc(100% / 3);
  height: 600px;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.dots {
  display: flex;
  justify-content: center;
  gap: 10px;
  overflow: hidden;
  width: 100%;
  margin-top: 15px;
}

.dot {
  width: 12px;
  height: 12px;
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s ease;
}

.dot.active {
  background: #000;
}


@media screen and (max-width: 1024px) {
  .slider-container .slide {
    flex: 0 0 100% !important;
    max-width: 100%;
    height: 500px;
  }
  .dots.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
    display: none;
  }
}