<ul class="category-filter">
    {% for category in categories %}
        <li class="{% if category.active %}active{% endif %}">
            <a href="{{ category.url }}#event"
               class="{{ category.cssClass }}">
                {{ category.name }}
            </a>
        </li>
    {% endfor %}
    <li class="{% if not activeCategory %}active{% endif %}">
        <a href="{{ allUrl }}" class="reset">&times;</a>
    </li>
</ul>



